@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

html, body {
    margin: 0;
    font-family: 'Lexend', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F94444;
    padding: 0 20em;
}

#toc {
    display: flex;
    gap: 3em;
}

#toc a {
    color: #fff;
    text-decoration: none;
    font-size: large;
}

#title {
    color: #fff;
}