tartu-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    margin-top: 20px;
}

tartu-footer * {
    margin: 0%;
}

tartu-footer #title, tartu-footer p {
    color: white;
}

tartu-footer #title {
    font-size: 3.5vw;
}

tartu-footer p {
    font-size: 1.2vw;
}


tartu-footer .text {
    position: absolute;
    bottom: 0;
    width: 66%;
    margin-bottom: 11%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

tartu-footer .rel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

svg {
    fill: var(--vapipunane);
}

@media only screen and (max-width: 1200px) {
    tartu-footer .text {
        margin-bottom: calc(25%/3);
    }
    tartu-footer #title {
        font-size: 6.5vw;
    }
    
    tartu-footer p {
        font-size: 2.5vw;
    }
    tartu-footer {
        padding: 0;
    }
}

@media only screen and (min-width: 1600px) {
    tartu-footer {
        padding: 0 20%;
    }
}