tartu-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
}

tartu-footer * {
    margin: 0%;
}

tartu-footer  {
    display: flex;
    gap: 3em;
}

tartu-footer #title, tartu-footer p {
    color: white;
}

tartu-footer #title {
    font-size: 26pt;
}

tartu-footer p {
    font-size: 14pt;
}


.text {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    gap: 2em;
    margin-top: -25%;
    width: 70%;
    justify-content: space-between;
    align-items: center;
}

svg {
    /* padding: 0 20em; */
    /* width: 100%; */
    fill: var(--vapipunane);
}

@media only screen and (max-width: 1200px) {
    .text {
        margin-top: -40%;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 1600px) {
    tartu-footer {
        padding: 0 20%;
    }
}